
<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@analyzed_text.count_of_words%> </h2>

<h2>Vowels: <%=@analyzed_text.count_of_vowels%> </h2>

<h2>Consonants: <%=@analyzed_text.count_of_consonants%> </h2>

<h2>Most Common Letter: <%=@analyzed_text.most_used_letter.keys[0].upcase %>, used <%= @analyzed_text.most_used_letter.values[0] %> times</h2>




<%# 
<form method="POST" action="/">
  <h2>Number of Words: <input type="@analyzed_text" name="name"></p>
  <p>Your Favorite Food: <input type="@analyzed_text" name="favorite_food"></p>
  <input type="submit">
</form> %>